        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><%= user.name %></h3>
            </div>
            <div class="card-body">
                
                <% if user.avatar.file.nil? %>
                    <img class="rounded img-fluid" src="<%= gravatar_url(user, { size: 500 }) %>" alt=""> 
                <% else %>
                    <img class="rounded img-fluid" src="<%= user.avatar.url if user.avatar? %>" alt="">
                <% end %>

            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Name:</div>
                  <div class="col-sm-9"><%= user.name %></div>
                  <div class="col-sm-3">Email:</div>
                  <div class="col-sm-9"><%= user.email %></div>
                  <div class="col-sm-3">Age:</div>
                  <div class="col-sm-9"><%= user.age %></div>
                  <div class="col-sm-3">Profile:</div>
                  <div class="col-sm-9"><%= simple_format(user.profile) %></div>
                </div>
            </div>
        </div>
    	<small><%= link_to("Edit", edit_user_path(user), method: :get, class: 'btn btn-link btn-sm') if (current_user ==  user) || isadmin? %></small>
        <%= render 'relationships/follow_button', user: user %>

